<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{% block title %}LeanTech{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo-nobg.png') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap" rel="stylesheet">
        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/libraries/semantic-ui/semantic.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('assets/libraries/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/libraries/semantic-ui/semantic.min.js') }}"></script>
            <script src="{{ asset('assets/scripts/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
