{% extends 'base.html.twig' %}

{% block body %}

    <div class="main" id="Accueil">

        <div class="title__div">
            <div class="title_logo__div">
                <img src="{{ asset('assets/images/logo-nobg.png') }} " alt="logo">
            </div>
            <div class="title_name__div">
                <h1>LeanTech</h1>
                <h2>Work Together !</h2>

                <hr>
                <div class="actions button">
                    <button onclick="scrollToId('#Projet')" class="ui projet__button button">Notre projet</button>
                    <button class="ui plaquette__button button" onclick="window.open('{{ asset('assets/LeanTech.pdf') }}','_blank')">Notre maquette</button>
                </div>
            </div>
            <div class="ui fluid borderless menu">
                <a class="item menu__logo" onclick="scrollToId('#Accueil')"{#  data-tooltip="Accueil" data-position="bottom center"#}></a>
                <a class="item menu__centrale" onclick="scrollToId('#Formation')"{#  data-tooltip="Accueil" data-position="bottom center"#}></a>
                <div class="right menu">
                    <a class="item" onclick="scrollToId('#Accueil')">Accueil</a>
                    <a class="item" onclick="scrollToId('#Projet')">Le projet</a>
                    <a class="item" onclick="scrollToId('#Objectif')">L'objectif</a>
                    <a class="item" onclick="scrollToId('#Equipe')">L'equipe</a>
                    <a class="item" onclick="scrollToId('#Formation')">La formation</a>
                    <a class="item" onclick="scrollToId('#Contact')">Nous contacter</a>
                </div>
            </div>
        </div>

        <div class="dark-bg">
            <div id="Projet" class="content__div projet__div" data-aos="fade-in">
                <h2>Le Projet</h2>

                <p>
                    <b>LeanTech</b> est une équipe composée de <b>trois élèves ingénieurs</b> de 4eme année, en spécialite <b>système
                    de l’information</b> au sein de l’école d’ingénieurs <b>IG2I de Centrale Lille Institut</b>.
                    Désireux de mettre nos compétences au service de la supply chain, nous avons a cœur de réaliser un
                    projet qui répond à vos besoins. <b>Le projet de fin d’études</b> comporte :
                </p>
                <div class="projet_attentes__div">
                    <ul>
                        <li>Un dossier de cadrage</li>
                        <li>Un dossier de spécifications fonctionnelles</li>
                        <li>Une méthodologie de conduite de projet</li>
                        <li>Une réalisation</li>
                        <li>Un plan qualité</li>
                        <li>Une conception technique</li>
                        <li>Une démarche scientifique</li>
                        <li>Une étude du marché</li>
                    </ul>
                </div>
                <br>
                <br>
                <p>
                    Cette étude de <b>230 heures par élève soit <u>690 heures</u> au total et 50 heures d’encadrement par les
                    enseignants de Centrale Lille Institut</b> fera l’objet d’un financement par notre entreprise
                    partenaire .
                </p>
            </div>
        </div>

        <div class="light-bg">
            <div id="Objectif" class="content__div objectif__div" data-aos="fade-in">
                <h2>Nos Objectifs</h2>
                <ul>
                    <li>Apporter nos connaissances <b>pluridisciplinaires</b> et notre <b>expertise</b>, </li>
                    <li>Proposer une solution <b>durable et fonctionnelle dans le temps,</b> </li>
                    <li>Avoir l’opportunite de collaborer avec une entreprise autour de la <b>gestion de la chaîne
                        logistique,</b> </li>
                    <li><b>Optimisation et analyse</b> des diffe rents flux, du transport, du stockage et des processus.</li>
                </ul>

                <img class="timeline__img" src="{{ asset('assets/images/timeline-nobg.png') }} " alt="timeline">
            </div>
        </div>

        <div class="dark-bg">
            <div id="Equipe" class="content__div equipe__div" data-aos="fade-in">
                <h2>L’équipe</h2>
                <div class="equipe_icons__div">
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/baptiste.png') }} " alt="avatar">
                        <h4 class="equipe__name">Baptiste Pautrat
                            <a href="https://www.linkedin.com/in/baptiste-pautrat-18672b152/" target="_blank">
                                <i class="linkedin icon"></i>
                            </a>
                        </h4>
                        <p class="equipe__title">Chef de Projet & Ingenieur technique</p>
                        <p class="equipe__desc">Conduit des projets digitaux et
                            de gestion de flux.</p>
                        <p class="equipe__poste">En alternance chez BBGR</p>
                    </div>
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/victorine.png') }} " alt="avatar">
                        <h4 class="equipe__name" >Victorine Doral
                            <a href="https://www.linkedin.com/in/victorine-doral/" target="_blank">
                                <i class="linkedin icon"></i>
                            </a>
                        </h4>
                        <p class="equipe__title" >Responsable Qualité &
                            Ingénieur technique</p>
                        <p class="equipe__desc" >Développe et optimise des
                            logiciels en IA.</p>
                        <p class="equipe__poste">En alternance chez Jouve</p>
                    </div>
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/gaston.png') }} " alt="avatar">
                        <h4 class="equipe__name">Gaston Deseine
                            <a href="https://www.linkedin.com/in/gaston-deseine/" target="_blank">
                                <i class="linkedin icon"></i>
                            </a>
                        </h4>
                        <p class="equipe__title" >Responsable Fonctionnel
                            & Ingénieur technique</p>
                        <p class="equipe__desc">Conduit des projets industriels
                            et optimise des processus</p>
                        <p class="equipe__poste">En alternance chez Renault</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="light-bg">
            <div id="Formation" class="content__div formation__div" data-aos="fade-in">
                <h2>Notre Formation</h2>
                <div class="formation_rounded__div">
                    <div>
                        <img class="centrale__img" src="{{ asset('assets/images/centrale-nobg.png') }} " alt="centrale">
                        <h3>L'école</h3>
                        <p>L’école d’ingénieur IG2I de Centrale Lille Institut propose une formation en apprentissage en
                            <b>trois ans</b>. Cette formation nous oriente vers <b>l’informatique d’entreprise et le génie logiciel.</b>
                            Alternant entre entreprise et école tout au long de ce cursus, chaque membre de l’équipe
                            posséde <b>des compétences essentielles et variées</b>, comme par exemple les ERP, la gestion de
                            projet, la chaîne logistique, le management et la mode lisation d’entreprise. Nous avons
                            également des <b>connaissances industrielles</b> telles que l’automatique ou la robotique.</p>
                        <div class="ecole_icons__div">
                            <div class="ecole_icon">
                                <i class="icon globe"></i>
                                <p>14 semaines de stage à l’international</p>
                            </div>

                            <div class="ecole_icon">
                                <i class="icon suitcase"></i>
                                <p>24 mois en entreprise</p>
                            </div>

                            <div class="ecole_icon">
                                <i class="icon graduation cap"></i>
                                <p>Diplômé certifié par la CTI</p>
                            </div>

                        </div>

                    </div>

                    <div>
                        <h3>L'alternance</h3>
                        <p>En plus d’<b>enrichir nos compétences</b>, l'alternance nous octroie de <b>nouvelles qualifications
                            propres</b> au secteur du travail. Ces nouvelles techniques, accompagnées d'une maturite liée aux
                            responsabilités au sein des entreprises, font des alternants des <b>acteurs à la fois théoriques et
                            pratiques engagés à mener à bien les projets.</b></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dark-bg">
            <div id="Contact" class="contact__div" data-aos="fade-in">
                <h2>Nous Contacter</h2>
                {#<div>
                    <div class="contact_logo__div">
                        <img src="{{ asset('assets/images/logo-nobg.png') }} " alt="logo">
                    </div>#}
                <div class="contact_info__div">
                    <ul>
                        <li>
                            <i class="icon mobile"></i>
                            <h5>Téléphone</h5>
                            <p>Baptiste Pautrat</p>
                            <p> +33 6 14 06 26 94</p>
                        </li>
                        <li>
                            <i class="icon envelope"></i>
                            <h5>Mail</h5>
                            <p> <a href="mailto:lean_tech@centralelille.fr">leantech.centralelille@gmail.com</a></p>
                        </li>
                        <li>
                            <img class="centrale_contact__img" src="{{ asset('assets/images/centrale-nobg.png') }} " alt="centrale">
                            <h5>Adresse</h5>
                            <p> 13 rue Jean Souvraz, 62300 Lens</p>
                            <p> +33 (0)3 21 74 85 85</p>
                        </li>
                    </ul>
                </div>
                {#                </div>#}

            </div>
        </div>
        <div class="light-bg">
            <h2 class="slogan__h2">LeanTech Work Together !</h2>
        </div>
    </div>

    <script>

    </script>
{% endblock %}
