{% extends 'base.html.twig' %}

{% block body %}

    <div class="main" id="Accueil">

        <div class="title__div">
            <div class="title_logo__div">
                <img src="{{ asset('assets/images/logo-nobg.png') }} " alt="logo">
            </div>
            <div class="title_name__div">
                <h1>LeanTech</h1>
                <h2>Work Together !</h2>

                <hr>
                <div class="actions button">
                    <button onclick="location.href='#Projet';" class="ui projet__button button">Notre projet</button>
                    <button class="ui plaquette__button button">Notre maquette</button>
                </div>
            </div>
            <div class="ui fluid borderless menu">
                <a class="item menu__logo" onclick="scrollToId('#Accueil')"{#  data-tooltip="Accueil" data-position="bottom center"#}></a>
                <div class="right menu">
                    <a class="item" onclick="scrollToId('#Accueil')">Accueil</a>
                    <a class="item" onclick="scrollToId('#Projet')">Le projet</a>
                    <a class="item" onclick="scrollToId('#Objectif')">L'objectif</a>
                    <a class="item" onclick="scrollToId('#Equipe')">L'equipe</a>
                    <a class="item" onclick="scrollToId('#Formation')">La formation</a>
                    <a class="item" onclick="scrollToId('#Contact')">Nous contacter</a>
                </div>
            </div>
        </div>

        <div class="dark-bg">
            <div id="Projet" class="content__div projet__div" data-aos="fade-in">
                <h2>Le Projet</h2>
                <p><b> LeanTech</b> est une equipe composee de  <b> trois élèves ingénieurs </b> de 4eme annee,
                    en specialite <b>  système de l’information  </b> à au seins de l’ecole d’ingenieur <b>  Centrale Lille </b>,
                    genie informatique et industriel. <b> Le Projet de Fin d’Etude </b> comporte une etude complete de vos besoins,
                    ainsi que de la specification et la realisation d’un prototype.
                    Cette etude  <b> de 230 heures par élèves soit 690 heures  </b> fera l’objet d’un financement par notre entreprise partenaire. </p>
                <div class="projet_attentes__div">
                    <ul>
                        <li>Un cahier des charges détaillé</li>
                        <li>Un dossier de spécifications fonctionnelles</li>
                        <li>Une méthodologie de conduite de projet </li>
                        <li>Un plan qualité</li>
                        <li>Diagnostic, analyse, conseils</li>
                        <li>Une rédaction des spécifications</li>
                        <li>Une étude du marché</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="light-bg">
            <div id="Objectif" class="content__div objectif__div" data-aos="fade-in">
                <h2>Nos Objectifs</h2>
                <ul>
                    <li>Apporter nos connaissances  <b> pluridisciplinaires </b>  et notre <b> expertise </b></li>
                    <li>Proposer une solution <b>  durable et fonctionnelle dans le temps</b> </li>
                    <li>Avoir l’opportunite de collaborer avec une entreprise autour de la <b>  Supply chain Management et logistique </b></li>
                </ul>

                <img class="timeline__img" src="{{ asset('assets/images/timeline-nobg.png') }} " alt="timeline">
            </div>
        </div>

        <div class="dark-bg">
            <div id="Equipe" class="content__div equipe__div" data-aos="fade-in">
                <h2>L’équipe</h2>
                <div class="equipe_icons__div">
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/avatar-nobg.png') }} " alt="avatar">
                        <h4>Baptiste Pautrat</h4>
                        <p>Chef de Projet & Ingenieur technique</p>
                        <p>En alternance chez BBGR</p>
                    </div>
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/avatar-nobg.png') }} " alt="avatar">
                        <h4>Victorine Doral</h4>
                        <p>Responsable Qualite & Ingenieur technique</p>
                        <p>En alternance chez Jouve</p>
                    </div>
                    <div class="equipe_icon">
                        <img class="avatar__img" src="{{ asset('assets/images/avatar-nobg.png') }} " alt="avatar">
                        <h4>Gaston Deseine</h4>
                        <p>Responsable Fonctionnel & Ingenieur technique</p>
                        <p>En alternance chez Renault</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="light-bg">
            <div id="Formation" class="content__div formation__div" data-aos="fade-in">
                <h2>Notre Formation</h2>
                <div class="formation_rounded__div">
                    <div>
                        <img class="centrale__img" src="{{ asset('assets/images/centrale-nobg.png') }} " alt="centrale">
                        <h3>L'école</h3>
                        <p>Centrale Lille IG2I propose une formation en apprentissage en trois ans.
                            Cette formation nous oriente vers <b> l’informatique d’entreprise et le génie logiciel</b>.
                            Alternant entre entreprise et ecole tout au long de ce cursus,
                            chaque membre de l’equipe a  <b> des compétences variées et essentielles </b>,
                            comme  <b> la gestion de projet </b>, un travail sur <b> les ERPs ,
                                d’une architecture réseau  </b> ou  <b> d’une application professionnelle </b>.
                            Ainsi que l’enseignement de <b>  matières industrielles </b> tel que l’automatique, la robotique ...</p>
                        <div class="ecole_icons__div">
                            <div class="ecole_icon">
                                <i class="icon globe"></i>
                                <p>14 semaines de stage à l’international</p>
                            </div>

                            <div class="ecole_icon">
                                <i class="icon suitcase"></i>
                                <p>24 mois en entreprise</p>
                            </div>

                            <div class="ecole_icon">
                                <i class="icon graduation cap"></i>
                                <p>Diplômé certifié par la CTI</p>
                            </div>

                        </div>

                    </div>

                    <div>
                        <h3>L'alternance</h3>
                        <p>En plus <b> d’enrichir nos compétences </b>, l'alternance nous octroie de  <b> nouvelles
                                qualifications propres </b> au secteur du travail. Ces nouvelles techniques,
                            accompagnees d'une maturite liee aux responsabilites au sein des entreprises,
                            font des alternants,
                            <b>des acteurs à la fois théoriques et pratiques, promptes à mener à bien les projets !</b> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dark-bg">
            <div id="Contact" class="contact__div" data-aos="fade-in">
                <h2>Nous Contacter</h2>
                {#<div>
                    <div class="contact_logo__div">
                        <img src="{{ asset('assets/images/logo-nobg.png') }} " alt="logo">
                    </div>#}
                <div class="contact_info__div">
                    <ul>
                        <li>
                            <i class="icon mobile"></i>
                            <h5>Téléphone</h5>
                            <p> +33 6 14 06 26 94</p>
                        </li>
                        <li>
                            <i class="icon envelope"></i>
                            <h5>Mail</h5>
                            <p> <a href="mailto:lean_tech@centralelille.fr">lean_tech@centralelille.fr</a></p>
                        </li>
                        <li>
                            <img class="centrale_contact__img" src="{{ asset('assets/images/centrale-nobg.png') }} " alt="centrale">
                            <h5>Adresse</h5>
                            <p> 13 rue Jean Souvraz, 62300 Lens</p>
                            <p> +33 (0)3 21 74 85 85</p>
                        </li>
                    </ul>
                </div>
                {#                </div>#}

            </div>
        </div>
        <div class="light-bg">
            <h2 class="slogan__h2">LeanTech Work Together !</h2>
        </div>
    </div>

    <script>

    </script>
{% endblock %}
